h2:first-child {
  margin-top: 0;
}

section {
  margin: 0;
  padding: calc(var(--section-padding) / 2) var(--section-padding);
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-color);

  &.section--full-screen {
    @media screen and (min-width: 600px) {
      min-height: 100vh;
    }
  }
}

.section__content {
    @media screen and (min-width: 1000px) {
        max-width: 1000px;
        margin: 0 auto;
    }
}

/* .dojo-section */
.section--content {
  .section__image {
    max-width: var(--circle-element-max-diameter);
    margin: 5vmin auto;
    
    @media screen and (min-width: 600px) {
        width: 40%;
        margin: 0 0 5vmin 5vmin;
        float: right;
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  } 
}
.section__content--footer {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    font-size: 1.5vmin;

    a {
        color: var(--heighlight-color);
        text-decoration: none;

        &:hover,
        &:focus,
        &:focus-visible {
            text-decoration: underline;
        }
    }
}