.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  padding: 1vmin;
  margin: .5vmin;
 
  i {
  display: block;
  width: var(--social-media-icon-size);
  height: var(--social-media-icon-size);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  &.facebook {
    background-image: url('/assets/facebook.png');
  }
  &.gmaps {
    background-image: url('/assets/google-maps.png');
  }
 }

  &:focus,
  &:focus-visible {
    outline: 2px dashed var(--light-green);
    outline-offset: 0;
  }
}