---
interface Props {
  title: string;
  type: "up" | "more";
  href: string;
  className?: string;
}

const { title, type, href, className } = Astro.props;
---
<style lang="scss" scoped>

</style>

<a class={"btn btn--" + type + " " + className} href={href} title={title} aria-label={title}>
</a>