---
import type { CollectionEntry } from 'astro:content';
import Section from './Section.astro';

interface Props {
    content: CollectionEntry<'dojos'> | CollectionEntry<'agos'>;
    type?: string;
    id?: string;
    class?: string;
    key?: string;
}

const contentEntry = Astro.props.content;
const content = contentEntry.data;
const { Content } = await contentEntry.render();
const type = Astro.props.type || "content";
const image = content.image || content.logo || null;
---

<Section id={contentEntry.slug} type={type}>
    <div class="section__image">
    {image && (
        <img src={image} alt={"Dojo " + content.name} />
    )}
    </div>
    <h2 class="section__title">{content.name}</h2>
    <div class="dojo-description">
        <Content />
    </div>
</Section>
