---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/sections/Section.astro";

import PrivacyMd from "../content/privacy.md";
---




<BaseLayout pageTitle="Impressum">
  <Section type="imprint" id="imprint" fullScreen={false}>
    <PrivacyMd />
  </Section>
</BaseLayout>
