---
import { SITE_NAME } from '../consts';

const CURRENT_YEAR = new Date().getFullYear();
---

<footer>
    <div class="section__content section__content--footer">
        <div>&copy; {CURRENT_YEAR} {SITE_NAME}</div>
        <div>
            <a href="#imprint">Impressum</a>
        </div>
    </div>
</footer>
