---
const CURRENT_YEAR = new Date().getFullYear();
const COPYRIGHT_TEXT = "Aikido Gemeinschaft Oder-Spree e.V."
---

<footer>
    <div class="section__content">
        &copy; {CURRENT_YEAR} {COPYRIGHT_TEXT}
    </div>
</footer>