---
const CURRENT_YEAR = new Date().getFullYear();
const COPYRIGHT_TEXT = "Aikido Gemeinschaft Oder-Spree e.V."
---

<footer>
    <div class="section__content section__content--footer">
        <div>&copy; {CURRENT_YEAR} {COPYRIGHT_TEXT}</div>
        <div>
            <a href="/impressum">Impressum</a>
        </div>
    </div>
</footer>