---
import Section from "./Section.astro";
---

<Section type="imprint" fullScreen={false}>
    <h2>Impressum</h2>
    <p>Angaben gemäß § 5 TMG:</p>
    <address>
        <p>
            Aikido-Gemeinschaft-Oder-Spree e.V.<br/>
            c/o Rico Kuhles<br/>
            Dorfstraße 11<br/>
            15299 Müllrose OT Dubrow
        </p>
    </address>
    <p>
        Vertreten durch den Vorstand:<br/>
        Rico Kuhles (1. Vorsitzender)
    </p>
    <h2>Kontakt</h2>
    <address>
        <p>
            Tel: <a href="tel:015251022300">015251022300</a><br/>
            Mail: <a href="mailto:rico.kuhles@gmx.de">rico.kuhles@gmx.de</a>
        </p>
    </address>
</Section>