---
import type { CollectionEntry } from "astro:content";
import FlipElement from "./FlipElement.astro";
import Section from "./Section.astro";

interface Props {
    agos: CollectionEntry<"agos">;
    dojos: CollectionEntry<"dojos">[];
}

const {agos, dojos} = Astro.props;
---
<Section type="first">
    <div class="header">
        <h1>{agos.data.name}</h1>
    </div>
    <div class="flex-center">
        <div id="circle-container" class="circle-container">
            <FlipElement dojo={agos} className="center-element" />
            {dojos.map( (dojo: CollectionEntry<"dojos">) => <FlipElement dojo={dojo} /> )}
        </div>
    </div>
</Section>