---
import Button from "./Button.astro";
---

<style lang="scss" scoped>
//@import '../scss/_variables.scss';
  .up {
    position: fixed;
    width: var(--btn-size);
    height: var(--btn-size);
    bottom: calc(var(--section-padding) / 2);
    right: calc(var(--section-padding) / 2);
    z-index: 1000;

    @media (min-width: 600px) {
      right: calc(var(--section-padding) - var(--btn-size));
    }
  }  
</style>    

<div class="up">
    <Button type="up" title="Zurück nach oben" href="#top" />
</div>
