body {
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  background-color: var(--background-primary);
  background-image: url('/assets/seigaiha.svg');
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 700px) and (min-height: 700px) {
      font-size: 1.5vmin;
    font-size: 2vmin;
  }
}

.site-main {
  flex: 1 0 auto;
}

section, footer {

  &:nth-child(even) {
      background-color: var(--background-secondary);
  }
}

footer {
  border-top: 1px solid var(--border-color);
  padding: calc(var(--section-padding) / 2) var(--section-padding);
  background-color: var(--background-secondary);
}


h1, h2, h3 {
  color: var(--heighlight-color);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

p {
  margin: 0 0 1.5rem 0;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

/* Accessibility */
@media (prefers-reduced-motion: reduce){
  *{
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

*:focus,
*:focus-visible {
  outline: none;
  border-radius: 0;
  box-shadow: 0 0 6px 6px rgba(var(--light-green-rgb), 0.22);

  &.circle,
  &.btn--circle {
    border-radius: 50%;
  }
}
