:root {
  --section-padding: 10vmin;
  --btn-size: clamp(50px, 6vmin, 80px);
  --circle-diameter: 80vmin;
  --circle-element-diameter: 24vmin;
  --circle-element-max-diameter: 400px;
  --center-element-diameter: 25vmin;
  --center-element-max-diameter: 400px;
  --social-media-icon-size: 30px;
  --border-radius: 0.5rem;

  --dark-green: #1a3524;
  --light-green: #243f2c;
  --light-green-rgb: 36, 63, 44;

  --beige-first: #fbf7ef;
  --beige-second: #f3ecd9;
  --red: #c41e3a;
  --black: #1f2123;

  --background-primary: var(--beige-first);
  --background-secondary: var(--beige-second);
  --border-color: var(--dark-green);
  --primary-color: var(--light-green);
  --highlight-color: var(--red);


  --circle-element-back-diameter: min(50vmin,20em);
  --circle-element-padding: 2vmin;
  --circle-element-font-size: min(5vmin, 1.2em);
  --font-size: min(4vmin, 1.5em);
}