:root {
  --section-padding: 10vmin;
  --up-btn-size: clamp(50px, 6vmin, 80px);
  --circle-diameter: 80vmin;
  --circle-element-diameter: 24vmin;
  --circle-element-max-diameter: 400px;
  --center-element-diameter: 25vmin;
  --center-element-max-diameter: 400px;
  --social-media-icon-size: 3vmin;

  --dark-green: #1a3524;
  --light-green: #243f2c;

  --beige-first: #ddcca4;
  --beige-second: #d4c193;

  --background-primary: var(--beige-first);
  --background-secondary: var(--beige-second);
  --border-color: var(--dark-green);
  --heighlight-color: var(--light-green);
}