---
import Footer from '../components/Footer.astro';
import UpButton from '../components/UpButton.astro';
import '../scss/styles.scss';

const { pageTitle } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<slot />
		<Footer />
		<UpButton />
	</body>
</html>
